<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container container-fluid">
    <a class="navbar-brand" href="#">{{ config.name }}</a>
    <div *ngFor="let group of config.itemGroups" class="collapse navbar-collapse">
      <ul *ngIf="!group.groupSide" class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngFor="let item of group.items">
          <li *ngIf="processRights(item)" class="nav-item">
            <app-navbar-item [item]="item"></app-navbar-item>
          </li>
        </ng-container>
      </ul>
      <ul *ngIf="group.groupSide" class="navbar-nav ms-auto mb-2 mb-lg-0">
        <ng-container *ngFor="let item of group.items">
          <li *ngIf="processRights(item)" class="nav-item">
            <app-navbar-item [item]="item"></app-navbar-item>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
